@import '../../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

#checkout-wrapper {
  padding: 10px;
  box-shadow: 0px 0px 10px 3px rgb(215, 215, 215);
}

h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: uppercase;
}

h5 {
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

hr.main-break {
  background-color: rgb(0, 0, 0);
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

hr.sub-break {
  background-color: rgba(210, 210, 210, 0.3);
  border-color: rgba(230, 230, 230, 0.3);
  border-width: 1px;
  border-style: solid;
}

sub {
  font-size: 12px;
  color: slategrey;
}

form {
  margin-top: 15px;
}

input#zip {
  width: 25%;
  min-width: 100px;
}

input#country {
  width: 50%;
}

input#phone {
  width: 50%;
}

input#card {
  width: 50%;
}

::ng-deep.error-text {
  margin-top: 10px;
  color: rgb(255, 100, 100);
  font-size: 10px;
}
