<div id="checkout-wrapper" class="mb-3">
  <h3>Bootstrap Checkout</h3>
  <hr class="main-break">

  <h5>Your Information</h5>
  <hr class="sub-break">
  <sub class="pb-5">* Required</sub>

  <form id="checkout-form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name *</label>
        <input id="firstName" class="form-control" type="text" name="firstName" />
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name *</label>
        <input id="lastName" class="form-control" type="text" name="lastName" />
      </div>
    </div>
    <div class="form-group">
      <label for="company">Company</label>
      <input id="company" class="form-control" type="text" name="company" placeholder="e.g Your Company or John Smith" />
    </div>
    <div class="form-group">
      <label for="address">Address *</label>
      <input id="address1" class="form-control mb-2" type="text" name="address" placeholder="Street Address, P.O. Box" />
      <input id="address2" class="form-control" type="text" name="address" placeholder="Apt #, Suite, Floor (optional)" />
    </div>
    <div class="form-group">
      <label for="zip">Zip Code *</label>
      <input id="zip" class="form-control" type="text" name="zip" />
    </div>
    <div class="form-group">
      <label for="country">Country *</label>
      <input id="country" class="form-control" type="text" value="United States" disabled/>
    </div>
    <div class="form-group">
      <label for="phone">Phone Number *</label>
      <input id="phone" class="form-control" type="text" name="phone" />
    </div>
    <div class="form-group">
      <label for="card">Credit Card Number *</label>
      <input id="card" class="form-control" type="text" name="card" />
    </div>
    <input id="submit-button" class="btn btn-primary my-2" type="submit" value="Continue" />
  </form>
</div>
