<div class="carousel-container">
  <div id="carousel-1">
    <div class="carousel-img-container">
      <img src="../../../assets/images/29495301756_c5b01a5e59_z.jpg" />
    </div>
    <div class="carousel-img-container">
      <img src="../../../assets/images/30535610105_14eeea814d_z.jpg" />
    </div>
    <div class="carousel-img-container">
      <img src="../../../assets/images/35923623426_039473fdb4_z.jpg" />
    </div>
    <div class="carousel-img-container">
      <img src="../../../assets/images/36451174816_bbc5a33e7a_z.jpg" />
    </div>
  </div>
</div>

<div class="carousel-container">
  <div id="carousel-2">
    <div>
      <img src="../../../assets/images/29495301756_c5b01a5e59_z.jpg" />
    </div>
    <div>
      <img src="../../../assets/images/30535610105_14eeea814d_z.jpg" />
    </div>
    <div>
      <img src="../../../assets/images/35923623426_039473fdb4_z.jpg" />
    </div>
    <div>
      <img src="../../../assets/images/36451174816_bbc5a33e7a_z.jpg" />
    </div>
  </div>
</div>

<div class="carousel-container">
  <div id="carousel-3">
    <div>
      <img src="../../../assets/images/29495301756_c5b01a5e59_z.jpg" />
    </div>
    <div>
      <img src="../../../assets/images/30535610105_14eeea814d_z.jpg" />
    </div>
    <div>
      <img src="../../../assets/images/35923623426_039473fdb4_z.jpg" />
    </div>
    <div>
      <img src="../../../assets/images/36451174816_bbc5a33e7a_z.jpg" />
    </div>
  </div>
</div>
