.carousel-container {
    margin: 100px 0;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

.carousel-img-container {
    width: 50% !important;
    display: block !important;
    margin: 0 auto;
}

img {
    margin: 0 auto;
    box-shadow: 0px 0px 20px 5px rgb(175, 175, 175);
}


