<div id="checkout-wrapper" class="mb-3">
  <h3>Materalize Checkout</h3>
  <hr class="main-break">

  <h5>Your Information</h5>
  <hr class="sub-break">
  <sub>* Required</sub>

  <div id="form-wrapper" class="row">
    <form id="checkout-form-2" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <label for="firstName">First Name *</label>
          <input id="firstName" type="text" name="firstName" />
        </div>
        <div class="input-field col s6">
          <label for="lastName">Last Name *</label>
          <input id="lastName" type="text" name="lastName" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="company">Company</label>
          <input id="company" type="text" name="company" placeholder="e.g Your Company or John Smith" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="address">Address *</label>
          <input id="address1" type="text" name="address" placeholder="Street Address, P.O. Box" />
          <input id="address2" type="text" name="address" placeholder="Apt #, Suite, Floor (optional)" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <label for="zip">Zip Code *</label>
          <input id="zip" type="text" name="zip" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="country">Country *</label>
          <input id="country" type="text" value="United States" disabled/>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="phone">Phone Number *</label>
          <input id="phone" type="text" name="phone" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="card">Credit Card Number *</label>
          <input id="card" type="text" name="card" />
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Continue</button>
    </form>
  </div>
</div>
