@import '../../../../node_modules/materialize-css/dist/css/materialize.min.css';

#checkout-wrapper {
    padding: 10px;
    box-shadow: 0px 0px 10px 3px rgb(215, 215, 215);   
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

hr.main-break {
    background-color: rgb(0, 0, 0);
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

hr.sub-break {
    background-color: rgba(210, 210, 210, 0.3);
    border-color: rgba(230, 230, 230, 0.3);
    border-width: 1px;
    border-style: solid;
}

sub {
    font-size: 12px;
    color: slategrey;
}

#form-wrapper {
    margin-top: 40px;
}

.input-field {
    margin-top: 0;
    margin-bottom: 10px;
}

::ng-deep.error-text-2 {
    margin-top: 0px;
    color:  rgb(255, 100, 100);
    font-size: 10px;
}

input[type=text] {
    margin-bottom: 0px !important; 
}
