
h3 {
    margin-top: 200px;
}

.row {
    margin: 25px 10px;
}


h5 {
    align-self: center;
}

.ghost-large {
    width: 250px;
    height: 250px;
    background-color: #bbdefb;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.ghost-large-text {
    align-self: center;
}

#ghost-button-container {
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

#ghost-button {
    width: 200px;
    padding: 10px;
    align-self: center;
}

#ghost-grid-normal {
    margin-top: 250px;
}

.ghost {
    text-align: center;
    background-color: #bbdefb;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}

#ghost-grid-offset {
    margin-top: 250px;
}

.ghost-offset {
    text-align: center;
    background-color: #bbdefb;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
}


