<h3 class="text-center">Ghost Plugin</h3>
<div id="ghost-button-container" class="container">
  <button id="ghost-button" class="btn btn-primary">Continue</button>
</div>
<div id="ghost-grid-normal" class="container">
  <div id="ghost-grid" class="row" *ngFor="let row of normalRows">
    <div class="col" *ngFor="let col of normalCols">
      <div class="ghost">
        <h5>GHOST</h5>
      </div>
    </div>
  </div>
</div>
<div id="ghost-grid-offset" class="container">
  <div class="row" *ngFor="let row of offsetRows">
    <div class="col" *ngFor="let col of offsetCols">
      <div class="ghost-offset">
        <h5>GHOST Offset</h5>
      </div>
    </div>
  </div>
</div>
