<div class="container-fluid p-0 mb-5">
  <lyons-query-header></lyons-query-header>
</div>

<!-- FORM VALIDATION -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <lyons-query-checkout-bootstrap></lyons-query-checkout-bootstrap>
    </div>
    <div class="col-md-6">
      <lyons-query-checkout-materialize></lyons-query-checkout-materialize>
    </div>
  </div>
</div>

<!-- CAROUSEL  -->
<div class="container-fluid p-0">
  <lyons-query-carousel></lyons-query-carousel>
</div>

<!-- CUSTOM PLUGIN 1 -->
<div class="container-fluid p-0">
  <lyons-query-custom-plugin></lyons-query-custom-plugin>
</div>

<!-- CUSTOM PLUGIN 2 -->

<div class="container-fluid p-0">
  <lyons-query-custom-plugin2></lyons-query-custom-plugin2>
</div>
