<h3 class="text-center">Attention Seeker Plugin</h3>
<div class="container">
  <ul class="list-group my-5">
    <li id="target" class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="container">
    <div class="row">
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
    </div>
    <div class="row">
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
    </div>
    <div class="row">
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
    </div>
    <div class="row">
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
      <div class="col seeker">seeker</div>
    </div>
  </div>
</div>
