div#checkout-container {
    width: 720px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
    padding-bottom: 50px;
}

h3 {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
}

h5 {
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

hr.main-break {
    background-color: rgb(0, 0, 0);
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

hr.sub-break {
    background-color: rgba(210, 210, 210, 0.3);
    border-color: rgba(230, 230, 230, 0.3);
    border-width: 1px;
    border-style: solid;
}

sub {
    font-size: 10px;
    color: slategrey;
}

div#form-container {
    width: 720px;
}

div.form-group {
    width: 370px;
    margin-top: 20px;
}

div#first-name-container {
    width: 170px;
    margin-right: 10px;
    display: inline-block;
}

div#last-name-container {
    float: right;
    clear: right;
}

div#company-container {
    width: 100%;
}

div#zip-container {
    width: 85px; 
}

div#phone-container {
    width: 170px; 
}

label {
    padding-top: 30px;
    font-size: 14px;
    letter-spacing: 0.05em;
}

input[type=text] {
    width: 100%;
    height: 30px;
    padding-left: 5px;
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 0.1em;
}

input#country {
    background-color: rgba(225, 225, 225, 0.75);
}

input[type=checkbox] {
    margin-top: 10px;
    margin-bottom: 30px;
}

input[type=submit] {
    width: 360px;
    height: 50px;
    padding: 10px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #E48752;
}

.has-error {
    border: 2px inset rgb(255, 100, 100);
}

::ng-deep.error-text {
    margin-top: 10px;
    color:  rgb(255, 100, 100);
    font-size: 10px;
}