<div id="checkout-container">
  
  <h3>Checkout</h3>
  <hr class="main-break">
  
  <h5>Your Information</h5>
  <hr class="sub-break">
  <sub>* Required</sub>
  
  <div id="form-container">
    <form id="checkout-form">
      <div class="form-group">
        <div id="first-name-container">
            <label for="firstName">First Name *</label>
            <input type="text" name="firstName" id="firstName"/>
        </div>
        <div id="last-name-container">
            <label for="lastName">Last Name *</label>
            <input type="text" name="lastName" id="lastName"/>
        </div>
      </div>
      <div class="form-group">
          <div id="company-container">
              <label for="company">Company (optional)</label>
              <input type="text" id="company" name="company" placeholder="e.g Your Company or John Smith"/>
          </div>
      </div>
      <div class="form-group">
          <div id="address-container">
              <label for="addr1">Address *</label>
              <input type="text" name="address" placeholder="Street Address, P.O. Box" id="addr1"/>
              <input type="text" placeholder="Apt #, Suite, Floor (optional)" id="addr2"/>
          </div>
      </div>
      <div class="form-group">
          <div id="zip-container">
              <label for="zip">Zip Code *</label>
              <input type="text" name="zip" id="zip"/>
          </div>
      </div>
      <div class="form-group">
          <div id="country-container">
              <label for="country">Country *</label>
              <input type="text" id="country" value="United States" readonly/>
          </div>
      </div>
      <div class="form-group">
          <div id="phone-container">
              <label for="phone">Phone Number *</label>
              <input type="text" name="phone" id="phone"/>
          </div>
      </div>
      <div class="form-group">
        <div id="creditcard-container">
            <label for="card">Credit Card Number</label>
            <input type="text" id="card" name="card"/>
        </div>
    </div>
    <div class="form-group">
        <div id="same-billship-container">
            <input type="checkbox" id="billship"/>
            <label for="billship">This address is also my billing address</label>
        </div>
    </div>
      <input id="submit-button" type="submit" value="Continue"/>
    </form>
  </div>
</div>